* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}



h1 {

}

h2 {

}

h3 {

}

h4 {

}

header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 10;
}

main {
  text-align: center;
  position: relative;
}

footer {

}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.background-picture {
  height: 700px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-repeat: no-repeat;
  z-index: 100;

}

#logo {
  height: 50px;
}

#nav-box {
  display: flex;
  flex-grow: 2;
  min-width: 300px;
  margin-bottom: 10px;
  z-index: 99;
}

#navbar-menu p{
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}



/* #main-headings {
  display: flex;
  justify-content: center;
} */
