* {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}


html {
  font-size: 22px;
}

header {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

header a {
  margin: 10px;
}

header img {
  height: 50px;
  margin-left: 10px;
}

main {
  position: relative;;
  top: 70px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 66px;
}

#mission {
  width: 95%;
  max-height: 700px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1 1200px;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#mission h2,
#mission h4 {
  width: 100%;
  padding: 0.5%;
}

#featured_tea h2,
#featured_tea h4 {
  margin-top: 20px;
}

#featured_tea {
  width: 1000px;
  margin-top: 20px;
}

.tea-img img {
  width: 300px;
  height: 200px;
  /* margin-bottom: 10px; */
}

.tea-img {
  display: inline-block;
  margin: 10px;
}

#locations {
  height: 500px;
  width: 80%;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#locations h2 {
  background: none;
  padding-top: 60px;
  padding-bottom: 15px;
}

.loc-div {
  display: flex;
  justify-content: center;
  background: none;
  opacity: 1;
}

.location {
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

.location h3 {
  margin-bottom: 20px;
  padding-top: 20px;
}

.location p {
  padding: 20px;
}

.contact {
  height: 200px;
  margin-bottom: 20px;
}

.contact h2 {
  padding: 20px;
}

.contact h5 {
  padding: 10px;
}


#copyright{
  margin: 20px;

}

#copyright h5{
  text-align: left;
}
