html {

}

h1 {

}

h2 {

}

h3 {

}

p {

}


.box {
  border: 2px solid black;
  margin: 20px 30px;
  padding: 30px 10px;
  width: auto;
  height: auto;
}

.color-box {
  height: 100px;
  width: 210px;
  padding: 5px;
  margin: 10px 0 5px 10px;
  display: inline-flex;
}

#aqua-box {
  background-color: Aqua;
  color: black;
  width: inherit;
  height: inherit;
  padding: inherit;
  margin: inherit;
  text-align: center;
}

#coral-box {
  background-color: Coral;
  color: black;
  width: inherit;
  height: inherit;
  padding: inherit;
  margin: inherit;
  text-align: center;
}
