body {
  background-color: Azure;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  color: Black;
}

h2 {
  text-align: center;
  color: Crimson;
}



table {
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
}

td {
  border: 1px solid black;
}

th {
  background-color: DarkSalmon;
}

code {
  background-color: CornSilk;
}
